<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  
  <servlet>
  	<servlet-name>health</servlet-name>
  	<servlet-class>com.sahan.csd62and64.HealthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>health</servlet-name>
  	<url-pattern>/bmi</url-pattern>
  </servlet-mapping>

</web-app>
